body{
    background-color:ghostwhite;
}
.navbar-inverse{
    margin-top: -32px;
    border-radius: 0px;
}

.col-sm-3 {
    text-align:center;
}

.jumbotron h1{
    color: ghostwhite;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.jumbotron{
    background-image: url(background.jpg);
    background-color: #F2E9E1;
    color: ghostwhite;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    border: 4px double #1C140D;
}